.main{
    display: flex;
}

nav{
    background: rgb(8, 46, 24);
    width: 100%;
    
}
nav ul{
    float: right;
    display: flex;
    margin-right: 30px;
    
}
nav ul li{
    display: inline-block;
    line-height: 20px;
   
    
    
}
nav ul li a{
    color: rgb(37, 20, 4);
    font-size: 17px;
    padding: 8px 5px;
    border-radius: 10px;
    width: 80%;
    word-spacing: 5px;
    
}
a.active,a:hover{
    background: rgb(167, 169, 155);
    transition: 3s;
}
body {
    border: 50px solid gray;
    margin: 150px;
}

h1{
    margin: 30px;
    display: flex;
}
.info{
line-height: 20px;
}